@import "../../variables.module.scss";

.ChatRoom {
  box-shadow: 1px 1px 1px $primaryblack;
  background-color: $darkgreytransparent;
  width: 100%;
  margin-bottom: 10px;
  input {
    background-color: $primaryyellow;
    padding: 10px;
    border: 2px solid $greygreenborder;
    outline: none;
    width: 50%;
    font-size: 1.1em;
    margin-bottom: 15px;
  }
  .chatNav {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    .backButton {
      margin: auto 0;
      font-size: 1.8em;
      transform: rotateY(180deg);
    }
  }
}