@import "../../variables.module.scss";

.ChatRoom {
  border-radius: 5px;
  box-shadow: $regularboxshadow;
  background-color: $darkgreytransparent;
  width: 100%;
  margin-bottom: 10px;
  position: relative;
  input {
    background-color: $primaryyellow;
    padding: 10px;
    border: 2px solid $greygreenborder;
    outline: none;
    border-radius: 5px;
    width: 50%;
    font-size: 1.1em;
    margin-bottom: 15px;
  }
}
