@import "../../variables.module.scss";

.ChatWindow {
  border: 3px solid $marroonborder;
  background-image: url(../../assets/img/background.jpg);
  padding: 10px;
  min-height: 400px;
  overflow-y: scroll;
  margin: 0 10px 10px 10px;
  display: flex;
  flex-direction: column-reverse;
  border-radius: 5px;
  text-align: right;
  max-height: 450px;
  .ChatWindowWrapper {
    // overflow: auto;
    display: flex;
    flex-direction: column;
  }
}
