@import "../../variables.module.scss";

.Button {
  padding: 10px 15px;
  margin: 5px 0 5px 0;
  outline: none;
  border-radius: 5px;
  min-width: 35px;
  font-size: 1.1em;
  min-width: 80px;
  &:hover {
    background-color: $lightgreytransparent;
  }
}
