@import "../../variables.module.scss";

.Button {
  padding: 10px;
  margin: 5px;
  outline: none;
  border-radius: 5px;
  border: 2px solid $greygreenborder;
  min-width: 35px;
  font-size: 1.1em;
  min-width: 80px;
}
