@import "../../variables.module.scss";

.ConnectedStatus {
  border: 2px solid $greygreenborder;
  background-color: $darkgreytransparent;
  padding: 5px 15px 5px 15px;
  display: flex;
  justify-content: space-between;
  box-shadow: 1px 1px 1px $primaryblack;
  .circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid $greygreenborder;
    margin: auto 0;
  }
  .connected {
    background-color: green;
  }
  .disconnected {
    background-color: rgb(64, 71, 66);
  }
  .error {
    background-color: maroon;
  }
}