// Background colours
$darkgreytransparent: rgba(59, 53, 63, 0.2);
$primaryblue: rgb(201, 236, 255);
$primaryyellow: rgba(255, 255, 240, 0.9);
$lightgrey: rgb(213, 213, 213);

// Borders Shadow Fonts
$primaryblack: rgb(19, 19, 19);
$secondaryblack: rgb(43, 43, 43);


// Borders
$greygreenborder: rgba(47, 79, 79, 0.7);
$marroonborder: rgba(109, 41, 41, 0.9);