// Background colours
$darkgreytransparent: rgba(59, 53, 63, 0.2);
$primaryblue: rgb(201, 236, 255);
$primaryyellow: rgba(255, 255, 240, 0.9);

// Borders Shadow Fonts
$primaryblack: black;
$secondaryblack: rgb(36, 36, 36);


// Borders
$greygreenborder: rgba(47, 79, 79, 0.7);
$marroonborder: rgba(109, 41, 41, 0.9);