.SpringTest {
  text-align: center;
  border: 2px solid black;
  height: 500px;
  width: 300px;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
}

.SpringTest article {
  background-color: darkcyan;
  border: 1px solid paleturquoise;
  margin: 5px 0;
}

.SpringTest p {
  word-break: break-all;
}

.SpringTest button {
  z-index: 5;
}
