@import "../../variables.module.scss";

.Message {
  font-size: 0.925rem;
  display: flex;
  justify-content: flex-end;
  p {
    background-color: $lightgrey;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    max-width: 350px;
    .name {
      font-weight: 600;
      color: $secondaryblack;
      display: block;
    }
    .messageContent {
      word-break: break-word;
    }
  }
}

.yourself {
  justify-content: flex-start;
}

.service {
  font-style: italic;
  font-size: 0.825rem;
  margin: 0 auto;
}
