@import "../../variables.module.scss";

.Message {
  font-size: 0.9rem;
  display: flex;
  justify-content: flex-end;
  p {
    background-color: $lightgrey;
    width: fit-content;
    padding: 5px;
    margin: 5px;
    .name {
      font-weight: 600;
      color: $secondaryblack;
    }
  }
}

.yourself {
  justify-content: flex-start;
}

.service {
  font-style: italic;
  font-size: 0.8rem;
  margin-left: 20px;
}
