@import "../../variables.module.scss";

.SetName {
  border: 2px solid $greygreenborder;
  background-color: $darkgreytransparent;
  border-radius: 20px;
  box-shadow: 1px 1px 1px $primaryblack;
  padding: 10px 0px 20px 0px;
  margin-bottom: 10px;
  form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 400px;
    max-width: 350px;
    margin: 0 auto;
    padding: 30px;
    input, button {
      background-color: $primaryyellow;
      padding: 10px;
      border: 2px solid $greygreenborder;
      outline: none;
    }
  }
  .formErrors {
    font-size: 0.8rem;
    color: darkred;
    text-align: center;
  }
}