.SetName {
  background-color: darkkhaki;
  border-radius: 20px;
  padding: 10px 0px 10px 0px;
  width: 280px;
  form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 400px;
  }
  .formErrors {
    font-size: 0.8rem;
    color: darkred;
    text-align: center;
  }
}